@import 'variables';
@import 'mixins';
*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
    border:none;
    outline: none;
    color: $mainColor;
    font-size: $mainFz;
    font-weight: 400;
}
html{
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $bgColor;

    .content {
        flex: 1 0 auto;
    }
    footer{
        height: 125px;
        margin-top: auto;
    }
}
.section__global{
    @include section__global;
}
.shp1{
    fill: $headingColor;
}
.shp2{
    fill: $mainColor;
}
.shp4{
    fill: none;
    stroke: $headingColor;
    stroke-linecap:round;
    stroke-width: 4;
}
//*************************** Header ***************************//
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    @include middleAll;

    .section__container{
        position: relative;
        z-index: 999;
        width: 1250px;
        height: 110px;
        @include middleAll;
        justify-content: space-between;
        
        .header__logo{
            .shp0{
                fill: #fff;
            }
        }
        nav{
            width: 850px;
            ul{
                width: 100%;
                @include middleAll;
                justify-content: space-between;
                .nav__item{
                    @include navLinkStyles(#000)
                }
                .nav__item:last-child{
                    @include middleAll;
                    svg{
                        margin-left: 20px;
                        .shp1{
                            fill:$headingColor;
                        }
                    }
                    svg:first-child{
                        margin:0;
                    }
                    
                }
            }
        }
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/header__bg.png') no-repeat;
        background-size: cover;
        background-position-y: -25px;
        z-index: 900;
    }
    
}

//*************************** Section-Promo ***************************//
.section__promo{
    min-height: 750px;
    background: url('../images/promo__bg.png') no-repeat;
    background-size: cover;
    .section__container{
        height: 370px;
        @include middleAll;
        flex-direction: column;
        h1{
            @include textStyles(90px,'YesevaOneRegular');
            text-align: center;
            font-weight: normal;
            line-height: 1.3;
        }
        svg{
            position: absolute;
            top: -760px;
            left: 50%;
            transform: translateX(-50%);
            width: 230px;
        }
        .promo__btns{
            margin-top: 80px;
            width: 500px;
            @include middleAll;
            justify-content: space-between;
            .promo__btn{
                width: 230px;
                height: 60px;
                cursor: pointer;
                position: relative;
                z-index: 2;
                @include textStyles(18px,$LatoRegular)
            }
            .promo__btn:first-child{
                background: url('../images/promoBtn__bgBlack.png') no-repeat;
                background-size: cover;
            }
            .promo__btn:last-child{
                background: url('../images/promoBtn__bgWhite.png') no-repeat;
                background-size: cover;
            }
        }
    }
}

//*************************** Section-About ***************************//
.section__aboutUs{
    min-height: 710px;
    position: relative;
    z-index: 2;
    &:before{
        content: '';
        width: 100%;
        height: 710px;
        position: absolute;
        z-index: -1;
        background: url('../images/aboutUs__bg.png') no-repeat;
        background-size: cover;
    }
    &:after{
        content: '';
        width: 100%;
        height: 710px;
        position: absolute;
        z-index: 2;
        background: url('../images/aboutUs__bg1.png') no-repeat;
        background-size: cover;
    }

    .section__container{
        @include middleAll;
        height: 510px;
        justify-content: space-evenly;
        .aboutUs__left{
            width: 430px;
            height: 100%;
            text-align: center;
            position: relative;
            h2{
                @include textStyles(36px,$YesevaOneRegular,$headingColor);
            }
            svg{
                position: absolute;
                top: -1040px;
                left: 50%;
                transform: translateX(-50%);
                width: 230px;
            }
            p{
                @include textStyles(16px,$LatoRegular,$descColor);
                margin-top: 70px;
                margin-bottom: 45px;
            }
            img{
                margin-left: 75px;
            }
        }
        .aboutUs__right{
            width: 625px;
            min-height: 625px;
            background: url('../images/aboutUs__dish.png') no-repeat;
            background-size: cover;
        }
    }
}