@font-face {
  font-family: GentiumBookBasicBold;
  src: url($fontsPath + 'GentiumBookBasic-Bold.ttf');
}
@font-face {
  font-family: LatoRegular;
  src: url($fontsPath + 'Lato-Regular.ttf');
}
@font-face {
  font-family: OpenSansBold;
  src: url($fontsPath + 'OpenSans-Bold.ttf');
}
@font-face {
  font-family: OpenSansItalic;
  src: url($fontsPath + 'OpenSans-Italic.ttf');
}
@font-face {
  font-family: OpenSansRegular;
  src: url($fontsPath + 'OpenSans-Regular.ttf');
}
@font-face {
  font-family: YesevaOneRegular;
  src: url($fontsPath + 'YesevaOne-Regular.ttf');
}
