$mainColor: #fff;
$headingColor: #cc9900;
$descColor: #4c4c4c;
$bgColor: #fff;
$mainFz: 16px;
$GentiumBookBasicBold: 'GentiumBookBasicBold';
$LatoRegular: 'LatoRegular';
$OpenSansBold: 'OpenSansBold';
$OpenSansItalic: 'OpenSansItalic';
$OpenSansRegular: 'OpenSansRegular';
$YesevaOneRegular: 'YesevaOneRegular';

$fontsPath : "../fonts/";
$imagesPath : "../images/";

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;